extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Outro titulo
  p aqui está um outro parágrafo


  .classe
    ul
      li item lista 1
      li item lista 2
      li item lista 3
